<!-- <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="auto" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    <swiper-slide *ngFor="let card of cards">
        <img [src]="card.images.small" alt="POKEMON" />
    </swiper-slide>
</swiper-container> -->

<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>

    </div>
</div>


<!-- <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
    <swiper-slide *ngFor="let card of cards"><img [src]="card.images.small" alt="POKEMON" /></swiper-slide>
</swiper-container> -->

<!-- <swiper-container class="mySwiper" effect="cards" grab-cursor="true" loop="true">
    <swiper-slide><img [src]="cards[0].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[1].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[2].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[3].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[4].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[5].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[6].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[7].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[8].images.small" alt="POKEMON" /></swiper-slide>
    <swiper-slide><img [src]="cards[9].images.small" alt="POKEMON" /></swiper-slide>
</swiper-container> -->