<div class="flex justify-content-center">
    <p class="text-5xl text-400 uppercase">Add animal</p>
</div>

<form class="grid flex flex-column align-content-center gap-4 mt-8" [formGroup]="animalForm" (ngSubmit)="postAnimal()">
    <div class="flex flex-wrap gap-4">
        <p-fieldset legend="Header">
            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" pInputText />
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">description</label>
                    <input type="text" id="description" formControlName="description" pInputText />
                </span>
            </div>
            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">category</label>
                    <input type="text" id="category" formControlName="category" pInputText />
                </span>
            </div>
        </p-fieldset>


        <p-fieldset legend="Header">
            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">habitat</label>
                    <input type="text" id="habitat" formControlName="habitat" pInputText />
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">diet</label>
                    <input type="text" id="diet" formControlName="diet" pInputText />
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">characteristic</label>
                    <input type="text" id="characteristic" formControlName="characteristic" pInputText />
                </span>
            </div>
        </p-fieldset>

        <p-fieldset legend="Header">
            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">behavior</label>
                    <input type="text" id="behavior" formControlName="behavior" pInputText />
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">conservation_status</label>
                    <input type="text" id="conservation_status" formControlName="conservation_status" pInputText />
                </span>
            </div>

            <div class="field col-12 md:col-4">
                <span class="label">
                    <label for="name">fun fact</label>
                    <input type="text" id="fun_facts" formControlName="fun_facts" pInputText />
                </span>
            </div>
        </p-fieldset>

        <div class="upload-file field col-12 md:col-4 align-self-center">
            <i class="icon pi pi-upload"></i>
            <input class="input-upload" type="file" id="image" formControlName="image"
                (change)="onFileSelected($event)">
        </div>
    </div>

    <div class="flex flex-wrap justify-content-center mt-4">
        <div class="btnBox flex flex-wrap align-items-center">
            <button pButton type="submit" class="btn p-button-rounded p-button-lg" [disabled]="!animalForm.valid">Add
                Animal</button>
        </div>
    </div>
</form>