<form [formGroup]="animalForm" (ngSubmit)="postAnimal()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" formControlName="name">
    <div *ngIf="animalForm.get('name')?.invalid && animalForm.get('name')?.touched">
        Name is required.
    </div>

    <label for="description">description:</label>
    <input type="text" id="description" name="description" formControlName="description">
    <div *ngIf="animalForm.get('description')?.invalid && animalForm.get('description')?.touched">
        description is required.
    </div>

    <label for="category">category:</label>
    <input type="text" id="category" name="category" formControlName="category">
    <div *ngIf="animalForm.get('category')?.invalid && animalForm.get('category')?.touched">
        category is required.
    </div>

    <label for="habitat">habitat:</label>
    <input type="text" id="habitat" name="habitat" formControlName="habitat">
    <div *ngIf="animalForm.get('habitat')?.invalid && animalForm.get('habitat')?.touched">
        habitat is required.
    </div>

    <label for="diet">diet:</label>
    <input type="text" id="diet" name="diet" formControlName="diet">
    <div *ngIf="animalForm.get('diet')?.invalid && animalForm.get('diet')?.touched">
        diet is required.
    </div>

    <label for="characteristic">characteristic:</label>
    <input type="text" id="characteristic" name="characteristic" formControlName="characteristic">

    <label for="behavior">behavior:</label>
    <input type="text" id="behavior" name="behavior" formControlName="behavior">

    <label for="conservation_status">conservation_status:</label>
    <input type="text" id="conservation_status" name="conservation_status" formControlName="conservation_status">
    <div *ngIf="animalForm.get('conservation_status')?.invalid && animalForm.get('conservation_status')?.touched">
        conservation_status is required.
    </div>

    <label for="fun_facts">fun_facts:</label>
    <input type="text" id="fun_facts" name="fun_facts" formControlName="fun_facts">
    <div *ngIf="animalForm.get('fun_facts')?.invalid && animalForm.get('fun_facts')?.touched">
        fun_facts is required.
    </div>

    <label for="image">image:</label>
    <input type="file" id="image" name="image" formControlName="image" (change)="onFileSelected($event)">
    <div *ngIf="animalForm.get('image')?.invalid && animalForm.get('image')?.touched">
        image is required.
    </div>


    <button type="submit" [disabled]="!animalForm.valid">Add Animal</button>
</form>