/* You can add global styles to this file, and also import other style files */
$bg: #2b2a33;

:root {
  --maxPrimaryPageWidth: 1400px;
  --imageBorderRadius: 8px;
  --darkBlue: 3, 37, 65;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background-color: $bg;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(255, 255, 255, 0.827);
}
